<!DOCTYPE html>
<html lang="en">

<head>
    <title>WeatherApp</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <!-- Use some bootstrap CSS and google fonts to quicken the process -->
    <!-- you shall also add a favicon -->
    <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/sunset--v2.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/orase_favorite.css">
</head>

<body>
    <% if(messages.success_msg) { %>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            <strong>
                <%= messages.success_msg %>
            </strong>
        </div>
        <% } %>
            <% if(messages.error) { %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    <strong>
                        <%= messages.error %>
                    </strong>
                </div>
                <% } %>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="http://localhost:5000/">Weather App</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a href="/users/logout" class="btn btn-secondary" id="buton_special">Logout</a>

                        </div>
                    </nav>

                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
        
                    <h2 id="titlu_fav">Hello <%=user%>, Here are your Favourite Cities</h2>

                    
                    <form action="/set_alerte">
                        <fieldset class="form-group" id="form_alerte">
                            <legend class="mt-4">Weather Alerts</legend>
                            <div class="form-check form-switch">
                                <% if(alerts == 1){%>
                                <input class="form-check-input" type="checkbox" id="alert" name="alert" onchange="this.form.submit()" checked>
                                <%  %>
                                <% }else{ %>
                                <input class="form-check-input" type="checkbox" id="alert" name="alert" onchange="this.form.submit()">  
                                <% } %>
                            </div>
                        </fieldset>
                    </form>
                    <h3 id="main_city">Your main city is <%= oras_default %></h3>
                        <% if(orase_favorite.length){ for(var i=0; i< orase_favorite.length; i++) {%>
                            <div class="alert alert-dismissible alert-primary">
                                <a class="oras_fav" href="/users/dashboard/<%= orase_favorite[i].name%>">
                                    <%= orase_favorite[i].name%>
                                </a>
                                <div class="temp">
                                    <%= orase_favorite[i].temp%>°C
                                </div>
                                <img src="<%= orase_favorite[i].icon %>" alt="Weather-Icon">
                                <a href="/users/dashboard/remove_city/<%= orase_favorite[i].name%>"
                                    class='btn-close'></a>
                                <a class="add_main" href="/set_oras_default/<%= orase_favorite[i].name%>">♡</a>
                            </div>
                            <% }} %>


</body>

</html>